<!DOCTYPE html>
<html>
  <head>
    <title>users map</title>
  </head>
  <body>

    <% if(users.length) { %>
      <table id="users" cellpadding="2" cellspacing="1" style="margin: 0 auto; text-align: center; border: 2px solid #000">
        <tr>
          <th>name</th><th>distance</th><th>hours</th>
        </tr>
        <% users.forEach(({name, distance, hours}) => { %>
          <tr>
            <td><%=name%></td><td><%=distance%></td><td><%=hours%></td>
          </tr>
        <% }) %> 
    </table>
    <% } %> 
    
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
        socket.on('chat message', function(msg) {
          var users = document.getElementById('users');
          users.innerHTML = '';
          var item = document.createElement('tr');
          item.innerHTML = '<tr><th>name</th><th>distance</th><th>hours</th></tr>';
          users.appendChild(item);
            if(msg.length) { 

            msg.forEach(({name, distance, hours}) => { 
                var item = document.createElement('tr');
                item.innerHTML = `<td>${name}</td><td>${distance}</td><td>${hours}</td>`;
                users.appendChild(item);
              })  

            } 
        });
      </script>

  </body>
</html>