<!DOCTYPE html>
<html>

<head>
    <title>Flights Map</title>
</head>

<body>

<h1 style="text-align:center;">Flights Map</h1>

    <% if(users && users.length) { %>
        <table id="users" style="margin: 0 auto; text-align: center; border: 2px solid #000">
            <tr>
                <th>name</th>
                <th>distance</th>
                <th>hours</th>
            </tr>
            <% users.forEach(({name, distance, hours})=> { %>
                <tr>
                    <td><%=name%></td>
                    <td><%=distance%></td>
                    <td><%=hours%></td>
                </tr>
            <% }) %>
        </table>
    <% } %>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        let socket = io();
        socket.on("usersMap", function (data) {
            let users = document.getElementById("users");
            users.innerHTML = "";

            let item = document.createElement("tr");
            item.innerHTML ="<tr><th>name</th><th>distance</th><th>hours</th></tr>";
            users.appendChild(item);
            
            if (data.length) {
                data.forEach(({ name, distance, hours }) => {
                    let item = document.createElement("tr");
                    item.innerHTML = `<td>${name}</td><td>${distance}</td><td>${hours}</td>`;
                    users.appendChild(item);
                });
            };
        });
    </script>
</body>

</html>